<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Hola <%= datos.name %>, elegiste el color : <%= datos.color %>, tu mail es : <%= datos.email %> y tu edad es : <%= datos.edad %> </p>
</body>
</html>